
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <title>Ingreso Votante</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <meta http-equiv="Pragma" content="no-cache">
    <meta http-equiv="expires" content="0">

    <link rel="icon" type="image/png" href="~/Content/images/index.ico">
    <!-- Jquery -->
    <script src="~/Content/js/jquery-1.10.2.min.js"></script>

    <!-- Bootstrap core CSS -->
    <link href="~/Content/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Font Awesome -->
    <link href="~/Content/css/font-awesome.min.css" rel="stylesheet">

    <!-- Pace -->
    <link href="~/Content/css/pace.css" rel="stylesheet">

    <!-- Endless -->
    <link href="~/Content/css/endless.min.css" rel="stylesheet">
    <link href="~/Content/css/endless-skin.css" rel="stylesheet">

    <!-- style -->
    <link href="~/Content/style/style.css" rel="stylesheet">

    <link href="~/Content/bootstrap/css/plugins/toastr/toastr.min.css" rel="stylesheet">
</head>
<body oncontextmenu="return false" ondragstart="return false">

    <!--login modal-->
    <div id="loginModal" class="modal show" tabindex="-1" role="dialog" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="text-center">
                    <div class="logo-nav"><a href="index.html"><img src="~/Content/images/logo-nav.png" /></a></div>

                </div>
                <div class="modal-header">
                    <h1 class="text-center">Ingreso Cliente</h1>
                </div>
                <div class="modal-body">
                    <form id="Formulario" class="form col-md-12 center-block" autocomplete="off">
                        <div class="form-group">
                            <input type="text" id="Usuario" name="Usuario" class="form-control input-lg" placeholder="Documento" />
                        </div>
                        <br />
                        <div class="form-group">
                            <input type="button" id="btnContinuar" class="btn btn-primary btn-block" value="Ingresar" />
                            <input type="button" id="btnRegresar" class="btn btn-primary btn-block" value="Regresar" />
                        </div>
                    </form>
                    <div style="clear:both"></div>

                </div>
                <div class="modal-footer">
                </div>
            </div>
        </div>
    </div>
</body>
</html>

<!-- Bootstrap -->
<script src="~/Content/bootstrap/js/bootstrap.min.js"></script>

<!-- Datatable -->
<script src='~/Content/js/jquery.dataTables.min.js'></script>

<!-- Modernizr -->
<script src='~/Content/js/modernizr.min.js'></script>

<!-- Pace -->
<script src='~/Content/js/pace.min.js'></script>

<!-- Popup Overlay -->
<script src='~/Content/js/jquery.popupoverlay.min.js'></script>

<!-- Slimscroll -->
<script src='~/Content/js/jquery.slimscroll.min.js'></script>

<!-- Cookie -->
<script src='~/Content/js/jquery.cookie.min.js'></script>

<!-- Endless -->
<script src="~/Content/js/endless/endless.js"></script>

<script src="~/Scripts/Util/General.js"></script>


<script src="~/Scripts/Util/aes.js"></script>
<script src="~/Content/bootstrap/js/plugins/toastr/toastr.min.js"></script>
<script type="text/javascript">
    var TiempoEspera = 60000;
    var TimerInactividad = setTimeout(SinActividad, TiempoEspera);
    var url = '@Url.Action("Index", "Home")';

    $(document).ready(function () {

        $('#Usuario').keypress(function (e) {
            var key = e.which;
            if (key == 13)  // the enter key code
            {
                ingresar();
                return false;
            }
        });

        $('body').bind('mousedown keydown', function (event) {
            clearTimeout(TimerInactividad);
            TimerInactividad = setTimeout(SinActividad, TiempoEspera);
        });

        $(document)[0].oncontextmenu = function () { return false; }

    });

    function SinActividad() {
        document.location.href = url;
    }

    $('#btnContinuar').click(function () {
        ingresar();
    });

    function ingresar() {
        var ced = $("#Usuario").val();

        if (ced.length === 0) {
            toastr.options = {
                "closeButton": true,
                "debug": false,
                "progressBar": true,
                "positionClass": "toast-top-full-width",
                "onclick": null,
                "showDuration": "700",
                "hideDuration": "1000",
                "timeOut": "7000",
                "extendedTimeOut": "1000",
                "showEasing": "swing",
                "hideEasing": "linear",
                "showMethod": "fadeIn",
                "hideMethod": "fadeOut"
            }
            toastr.error("<h4>Debe digitar el documento del cliente.</h4>");
        } else {

            $.ajax({
                type: "POST",
                url: '@Url.Action("ValidateClient", "LoginClient")',
                data: JSON.stringify({ usu: ced }),
                contentType: "application/json; charset=utf-8",
                datatype: "jsondata",
                async: "true",
                success: function (result) {
                    switch (result) {
                        case "ok":
                            waitingDialog.show('Redireccionando, Por favor Espere...');
                            var urlAdmin = '@Url.Action("Index", "PurchaseDetail")';
                            document.location.href = urlAdmin;
                            break;
    case "invalid":
                             toastr.options = {
                            "closeButton": true,
                            "debug": false,
                            "progressBar": true,
                            "positionClass": "toast-top-full-width",
                            "onclick": null,
                            "showDuration": "700",
                            "hideDuration": "1000",
                            "timeOut": "7000",
                            "extendedTimeOut": "1000",
                            "showEasing": "swing",
                            "hideEasing": "linear",
                            "showMethod": "fadeIn",
                            "hideMethod": "fadeOut"
                        }
                        toastr.options.onHidden = function () { window.location.href = url; };
                        toastr.error('Usuario o contraseña incorrecta, Verifique.', 'Validación Cliente');
                            break;
                    }
                },
                error: function (res, msg, code) {
                    var err = eval("(" + res.responseText + ")");
                    var errorMessage = err.Message;
                    // errorMessage can be an object with 3 string properties: ExceptionType, Message and StackTrace

                    toastr.options = {
                        "closeButton": true,
                        "debug": false,
                        "progressBar": true,
                        "positionClass": "toast-top-full-width",
                        "onclick": null,
                        "showDuration": "700",
                        "hideDuration": "1000",
                        "timeOut": "7000",
                        "extendedTimeOut": "1000",
                        "showEasing": "swing",
                        "hideEasing": "linear",
                        "showMethod": "fadeIn",
                        "hideMethod": "fadeOut"
                    }
                    toastr.options.onHidden = function () { SinActividad(); };
                    toastr.error(errorMessage, 'Ingreso Votante');


                } //error
            });
        }
    }

    $('#btnRegresar').click(function () {
        window.location.href = url;
    });

</script>
